.DS_Store
.idea
tmp
result
node_modules
bin
*.iml
Generated
dist
dist-*
*.dyn_hi
*.dyn_o
*.hi
*.o
build
gen
del
static/prod.*
Config/client_session_key.aes
.vscode
.vscode/*


# Ignore locally checked out IHP version
IHP

# direnv
.devenv*
devenv.local.nix
.direnv
.env

# exclude secrets
secrets
sectets/*
